# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
monitoring-backend

# Logs
*.log
logs/

# Vendor
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Go
go.work
